.dart_tool/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.pub-cache/
.pub/
.vscode/
*.iml
*.ipr
*.iws
**/doc/api/
**/ios/Flutter/.last_build_id
build/
android/
ios/
lib/generated_plugin_registrant.dart
linux/
macos/
web/
windows/
