.dart_tool/
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.fvm/
.idea/
.metadata
.packages
.project
.pub-cache/
.pub/
.vscode
*.iml
*.ipr
*.iws
**/doc/api/
build/
lib/generated_plugin_registrant.dart
pubspec.lock
